<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
안녕하세요

<a href="https://www.facebook.com/v2.11/dialog/oauth?
  client_id={{ facebook_app_id }}
  &scope={{ facebook_user_scope }}
  &redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'account:front-facebook-login' %}">페이스북 로그인</a>

</body>
</html>