<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>

<h2>[Wooltari] 임시 비밀번호 </h2>

<p> 비밀번호를 잊어버리신 경우  임시 비밀번호를 부여합니다. <br>
    임시 비밀번호로 로그인 하신 후 원하시는 비밀번호로 변경하시기 바랍니다.  </p>
<p>임시 비밀번호 :  {{ new_password }} </p>


<!--<a type="button" href="https://{{ domain }}{% url 'auth:login' %}">로그인 화면으로</a>-->

</body>
</html>



