language: python
services:
- postgresql
- rabbitmq
python:
- 3.6
- nightly
addons:
  postgresql: "9.6"
env:
- DJANGO_SETTINGS_MODULE=config.settings.travis
before_install:
- openssl aes-256-cbc -K $encrypted_41a9b11ebf4d_key -iv $encrypted_41a9b11ebf4d_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
install:
- pip install -r requirements.txt
before_script:
- psql -c "CREATE DATABASE pet" -U postgres
- cd petweb
script:
- python manage.py migrate --noinput
- python manage.py test
