{% extends 'base.html' %}
{% load static %}

{% block title %}[Wooltari] Getting Start{% endblock %}

{% block content %}
    <h2 class="ui header">Getting Start</h2>
    <h3 class="ui header">테스트 서버 사용하기</h3>

    <div class="ui divided selection list">
        <a class="item" href="#connect-databases">
            <div class="ui olive horizontal label">step 1</div>
            데이터베이스 접근
        </a>
        <a class="item" href="#create-test-user">
            <div class="ui green horizontal label">step 2</div>
            테스터 유저 생성
        </a>
        <a class="item" href="#create-pet-user">
            <div class="ui teal horizontal label">step 3</div>
            테스트 펫 생성
        </a>
        <a class="item" href="#get-facebook-access-token">
            <div class="ui blue horizontal label">step 4</div>
            페이스북 액세스 토큰 얻기
        </a>
        <a class="item" href="#facebook-login-with-postman">
            <div class="ui violet horizontal label">step 5</div>
            포스트맨 사용하기
        </a>
    </div>

    <h3 class="ui header" id="connect-databases">
        데이터베이스 접근
        <a class="ui tiny header" href="#connect-databases" title="제목 주소">¶</a>

    </h3>

    <p>먼저 관리자 계정을 이용하여 데이터베이스에 접근해보겠습니다.</p>

    <p>메뉴 상단에 보이는 'Admin Page'를 눌러주세요.</p>

    <p>그러면 관리자 아이디와 비밀번호를 요구하는 창이 나타납니다.</p>
    <img class="ui centered large image" src="{% static 'guide/admin_login.png' %}" alt="">

    <p>걱정마세요. 여러분을 위해 미리 관리자 계정을 준비해 두었습니다.</p>

    <div class="ui olive message">
        <p><strong>아이디</strong></p>
        <code>admin@test.com</code>
        <p><strong>비밀번호</strong></p>
        <code>votmxmzoavjtm</code>
        <p>(한글로 '패스트캠퍼스' 라고 치시면 됩니다)</p>
    </div>

    <p>아이디, 비밀번호를 입력하고 접속하시면 관리자 화면이 나타납니다.</p>
    <img src="{% static 'guide/admin_page.png' %}" alt="" class="ui centered big image">

    <p>메뉴에서 'ACCOUNT' 카테고리로 묶여 있는 4가지 메뉴를 살펴봅시다.</p>
    <div class="ui olive message">
        <p><strong>Pet breeds</strong></p>
        <code>펫의 품종(예: 시츄, 코리안 숏헤어...) 등등을 등록하는 테이블입니다.</code>
        <p><strong>Pet species</strong></p>
        <code>펫의 종류(강아지, 고양이)를 등록하는 테이블입니다.</code>
        <p><strong>Pets</strong></p>
        <p>유저가 관리하는 개별 펫을 등록하는 테이블입니다.</p>
        <p><strong>Users</strong></p>
        <p>유저를 등록하는 테이블입니다.</p>
    </div>

    <h3 class="ui header" id="create-test-user">
        테스터 유저 생성
        <a class="ui tiny header" href="#create-test-user" title="제목 주소">¶</a>
    </h3>

    <p>데이터베이스에서 직접 테스터 유저를 생성해보겠습니다. API 북에 따라 회원가입을 할 수도 있지만 빠른 테스트를 원하신다면 관리자 페이지에서 유저를 직접 생성하는 것도 가능합니다.</p>
    <p>관리자 페이지에서 'User' 버튼을 누르고 들어가보겠습니다.</p>
    <img src="{% static 'guide/admin_user.png' %}" alt="" class="ui centered huge image">

    <p>아직은 관리자 계정만 있네요. 우측 상단의 회색 버튼 'ADD USER'를 눌러볼까요?</p>
    <img src="{% static 'guide/admin_user_create.png' %}" alt="" class="ui centered huge image">

    <p>그러면 익숙한 회원가입 창이 나타납니다. 여러분이 원하시는 이메일과 닉네임, 비밀번호를 입력하세요.</p>
    <img src="{% static 'guide/admin_user_profile.png' %}" alt="" class="ui centered huge image">

    <p>회원가입을 완료하면 곧장 유저 프로필 창으로 이동합니다.</p>
    <p>어떤 필드가 있는지 살펴볼까요?</p>

    <div class="ui olive message">
        <p><strong>Email_address</strong></p>
        <code>유저의 아이디 역할을 하는 이메일 주소입니다. 관리자 페이지에서는 수정 가능하지만 실제 서비스에서는 수정할 수 없습니다.</code>
        <p><strong>Password</strong></p>
        <code>DB는 사용자가 입력한 비밀번호를 암호화하여 저장합니다.</code>
        <p><strong>Social_id</strong></p>
        <p>소셜 로그인(페이스북, 구글)을 할 경우 이곳에 소셜 계정의 고유 아이디가 입력됩니다.</p>
        <p><strong>Nickname</strong></p>
        <p>닉네임입니다.</p>
        <p><strong>Is_active</strong></p>
        <p>회원 활성화 여부를 체크하는 필드입니다. 원래 서비스에서는 회원가입 인증 메일의 링크를 클릭해 이 필드를 활성화시키지만 지금은 테스트를 위해 바로 체크를 눌러줍시다.</p>
        <p><strong>Superuser status</strong></p>
        <p>관리자 계정으로 전환할 수 있는 체크박스입니다. 원하시는 대로 체크할지 말지 정하시면 됩니다.</p>
        <p><strong>user type</strong></p>
        <p>이 유저가 이메일로 가입했는지, 소셜 계정으로 가입했는지 체크하는 박스입니다. DB 내부에서 구분하는 용도로 쓸 뿐 프론트에서 대응하실 필요는 없습니다.</p>
    </div>

    <p>'Is_active'를 체크한 뒤 SAVE 버튼을 눌러줍니다.</p>
    <p>만세! 이제 여러분은 데이터베이스에 더미 데이터를 넣고 뺄 수 있는 테스터 유저를 갖게 되셨습니다.</p>

    <h3 class="ui header" id="create-pet-user">
        테스트 펫 생성
        <a class="ui tiny header" href="#create-pet-user" title="제목 주소">¶</a>
    </h3>

    <p>관리자 페이지 초기 화면으로 돌아가서 'Pet' 버튼을 눌러봅니다.</p>
    <img src="{% static 'guide/admin_pet.png' %}" alt="" class="ui centered huge image">

    <p>아직 펫을 생성하지 않아 한 마리도 없네요! 우측 상단의 회색 버튼 'ADD PET'을 눌러주세요.</p>
    <img src="{% static 'guide/admin_pet_create.png' %}" alt="" class="ui centered huge image">

    <p>그러면 펫 생성 창이 나타납니다. 함께 필드를 살펴보도록 합시다.</p>

    <div class="ui olive message">
        <p><strong>Owner</strong></p>
        <code>펫의 주인을 설정하는 필드입니다.</code>
        <p><strong>Species</strong></p>
        <code>펫의 종류(강이지/고양이)를 설정하는 필드입니다.</code>
        <p><strong>Breeds</strong></p>
        <p>펫의 품종(시츄, 골든 리트리버, 코리안 숏헤어, 페르시안...)을 설정하는 필드입니다.</p>
        <p style="color: #A30000">관리자 페이지에서는 펫의 종류를 고른다고 해서 품종까지 자동으로 필터링해주지 않습니다. 예를 들어 '고양이'를 선택하고 '시츄'를 선택해도 오류가 나지 않습니다. 사용자가 등록할 때에는 이를 방지할 수 있지만 DB에 직접 접근할 때에는 그럴 수 없으니 참고하세요!</p>
        <p><strong>Name</strong></p>
        <p>펫의 이름입니다.</p>
        <p><strong>Birth date</strong></p>
        <p>펫의 생년월일을 설정하는 필드입니다. 'YYYY-MM-DD'형식으로 입력해 주세요!</p>
        <p><strong>Gender</strong></p>
        <p>펫의 성별을 설정하는 필드입니다.</p>
        <p><strong>Identified number</strong></p>
        <p>동물등록번호를 입력하는 필드입니다. 'blank=True' 옵션이므로 비워주셔도 괜찮습니다.</p>
        <p><strong>Is neutering</strong></p>
        <p>중성화수술 여부를 체크하는 필드입니다.</p>
        <p><strong>Body color</strong></p>
        <p>펫의 개체 색상을 설정하는 필드입니다. 현재 '검정색', '하얀색', '갈색', '황금색' 네 가지를 설정해두었습니다. 원하시면 더 추가할 수 있습니다.</p>
        <p><strong>Is active</strong></p>
        <p>펫의 활성화 여부를 체크하는 필드입니다. 초기 설정값은 True이며, 나중에 펫을 비활성화 시킬 경우 이 옵션을 조정하는 뷰를 만들 계획입니다.</p>
    </div>

    <p>'SAVE' 버튼을 눌러 펫을 생성하면 다음과 같은 화면이 나타납니다.</p>
    <img src="{% static 'guide/admin_pet_list.png' %}" alt="" class="ui centered huge image">

    <p>생성된 펫은 이곳에서 리스트로 나타납니다. 포스트맨으로 테스트하신 뒤 이곳에서 확인하시면 되겠습니다.</p>

    <h3 class="ui header" id="get-facebook-access-token">
        페이스북 엑세스 토큰 얻기
        <a class="ui tiny header" href="#get-facebook-access-token" title="제목 주소">¶</a>
    </h3>

    <p>페이스북 로그인을 경험하시려면 먼저 액세스 토큰을 얻으셔야 합니다. 정식 서비스에서는 프론트엔드에서 자바스크립트를 이용해 사용자의 id와 액세스 토큰을 받고 그 데이터를 백엔드로 보내주셔야 하는데요, 우선은 저희가 임시로 파이썬 스크립트로 id와 액세스 토큰을 얻는 뷰를 구현했습니다.</p>
    <div class="class ui olive message">
        <span><strong>참고: </strong></span><a href="https://developers.facebook.com/docs/facebook-login/web" target="_blank">페이스북 개발자 문서</a>
    </div>

    <p>이 기능을 이용하시려면 먼저 저에게 친구 신청을 하셔야 합니다! 페이스북 어플리케이션이 '개발 중' 상태이기 때문에 모든 유저에게 열려 있지 않거든요! 그래서 저와 친구를 맺으시면 제가 테스터로 등록해드릴 겁니다. 페이스북에서 <strong>'Lanark Seung'</strong>을 검색하시면 제가 나옵니다.</p>

    <p>메뉴바에 있는 'Get Facebook access token'을 누르시면 자동으로 페이스북 id와 액세스 토큰이 발급됩니다.</p>

    <img src="{% static 'guide/facebook_access_token.png' %}" alt="" class="ui centered huge image">

    <p>이 id와 액세스 토큰으로 포스트맨을 통해서 로그인해보도록 하겠습니다. 여기서부터는 포스트맨을 사용하시는 편이 훨씬 편리합니다.</p>

    <h3 class="ui header" id="facebook-login-with-postman">
        포스트맨 사용하기
        <a class="ui tiny header" href="#facebook-login-with-postman" title="제목 주소">¶</a>
    </h3>

    <p>포스트맨은 API 개발자를 위한 어플리케이션입니다. 개발 중인 서버에 여러 가지 요청을 보내서 어떤 결과가 돌아오는지를 GUI 환경에서 체크할 수 있습니다.</p>


    <div class="ui olive message">
        <span><strong>다운로드 링크: </strong></span>
        <a href="https://www.getpostman.com/" target="_blank">https://www.getpostman.com/</a>
    </div>

    <p>모두 포스트맨을 설치하셨다는 전제 하에, 제가 제공해드리는 포스트맨 환경 설정 파일을 임포트하는 법을 알려드리겠습니다.</p>

    <div class="ui red message">
        <span><strong>포스트맨 환경 설정 파일 다운로드: </strong></span>
        <div class="postman-run-button"
             data-postman-action="collection/import"
             data-postman-var-1="e2ef1d33475d42e8ad8c"
             data-postman-param="env%5Bwooltari-test-server%5D=W3siZW5hYmxlZCI6dHJ1ZSwia2V5IjoiaG9zdCIsInZhbHVlIjoid29vbHRhcmktdGVzdC1zZXJ2ZXItZGV2LmFwLW5vcnRoZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tIiwidHlwZSI6InRleHQifV0="></div>
        <script type="text/javascript">
            (function (p,o,s,t,m,a,n) {
                !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
                !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
                    (n = o.createElement("script")),
                        (n.id = s+t), (n.async = 1), (n.src = m), n
                ));
            }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
        </script>
    </div>

    <p>'Run In Postman' 버튼을 누르시면 환경 설정 파일이 자동으로 포스트맨에 임포트됩니다.</p>
    <img src="{% static 'guide/postman_login.png' %}" alt="" class="ui centered huge image">

    <p>현재 facebook login 기능을 제외한 나머지는 사용 가능하니 자유롭게 테스트해주세요!</p>

{% endblock %}